.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.env
.vscode/
.idea/
data/bronze/*
data/silver/*
data/gold/*
data/bad_records/*
data/checkpoints/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/bad_records/.gitkeep
!data/checkpoints/.gitkeep
spark-warehouse/
metastore_db/
*.crc
